
@font-face {
    font-family: "OngleapGeumgangHeejeHalmaeche";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleapGeumgangHeejeHalmaeche/OngleapGeumgangHeejeHalmaeche.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleapGeumgangHeejeHalmaeche/OngleapGeumgangHeejeHalmaeche.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleapGeumgangHeejeHalmaeche/OngleapGeumgangHeejeHalmaeche.ttf") format("truetype");
    font-display: swap;
}

.OngleapGeumgangHeejeHalmaeche {
    font-family: "OngleapGeumgangHeejeHalmaeche";
}
